<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>


<header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
        th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>


<main>
    <div class="container">
        <section class="section register  d-flex flex-column align-items-center justify-content-center m-0">
            <div class="container">

                <h1 th:text="#{result}"></h1>

                <h3 th:if="${!etablissements.isEmpty()}" th:text="#{institutions}"></h3>
                <ul th:if="${!etablissements.isEmpty()}">
                    <li th:each="etablissement : ${etablissements}">
                        <!-- Display search results -->
                        <a th:href="@{${'/etablissement/'+etablissement.getId()}}">
                            <span th:text="${#locale.language == 'ar' ? etablissement.getName() :
                                             #locale.language == 'fr' ?  etablissement.getNameFr() : etablissement.getNameEn()}"></span></a>
                            
                    </li>
                </ul>
                <h3 th:if="${!tvs.isEmpty()}" th:text="#{tv_channels}"></h3> 
                <ul th:if="${!tvs.isEmpty()}">
                    <li th:each="tv : ${tvs}">
                        <!-- Display search results -->
                        <a th:href="@{${'/tv/'+tv.getId()}}">

                            <span th:text="${#locale.language == 'ar' ? tv.getName() :
                                                  #locale.language == 'fr' ?  tv.getNameFr() : tv.getNameEn()}"></span>
                        </a>
                    </li>
                </ul>

                <h3 th:if="${!radios.isEmpty()}"th:text="#{radio_stations}">  </h3>
                <ul th:if="${!radios.isEmpty()}">
                    <li th:each="radio : ${radios}">
                        <!-- Display search results -->
                        <a th:href="@{${'/radio/'+radio.getId()}}">
                        <span th:text="${#locale.language == 'ar' ? radio.getName() :
                                         #locale.language == 'fr' ?  radio.getNameFr() : radio.getNameEn()}"></span>
                        </a>
                    </li>
                </ul>

                <h3 th:if="${!presses.isEmpty()}"th:text="#{press}"> </h3>
                <ul th:if="${!presses.isEmpty()}">
                    <li th:each="presse : ${presses}">
                        <!-- Display search results -->
                        <a th:href="@{${'/presse/'+presse.getId()}}">
                        <span th:text="${#locale.language == 'ar' ? presse.getName() :
                                         #locale.language == 'fr' ?  presse.getNameFr() : presse.getNameEn()}"></span>
                        </a>
                    </li>
                </ul>
                <h3 th:if="${!textJuridiques.isEmpty()}"th:text="#{legal_texts}"></h3>
                <ul th:if="${!textJuridiques.isEmpty()}">
                    <li th:each="textJuridique : ${textJuridiques}">
                        <!-- Display search results -->
                        <span th:text="${textJuridique.getName()}"></span>
                    </li>
                </ul>
            </div>
                    <!-- Affichage du message "Aucun résultat" -->
        <h3 th:if="${tvs.isEmpty() and etablissements.isEmpty() and radios.isEmpty() and presses.isEmpty() and textJuridiques.isEmpty()}">
            <i style="color:red;" class="bi bi-x-lg"></i>
            <span th:text="#{no_results}">لا توجد نتائج</span>
        </h3>
        </section>

    </div>
</main><!-- End #main -->

<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader" class="waitting">
    <svg th:include="notAuthenticated/fragments/logosvg::logosvg" width="120" height="120" viewBox="0 0 2342 2004" version="1.1" class="inSide">
    </svg>  
</div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>