<!DOCTYPE html>
<html dir="rtl" th:lang="${#locale.language}">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>


<!-- Add image before the header -->
<header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
        th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>


</div>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol hidden="hidden">
                <li><a href="index.html">Home</a></li>
                <li>Portfolio Details</li>
            </ol>
          
            <div class="d-flex justify-content-start">
                <a th:href="${etablissement.getSite()}" target="_blank"><img th:src="@{${'/etablissement/lugo/'+etablissement.getId()}}" width="50px" height="30px" class="img-fluid mx-3"
                                                             alt=""></a>
                <h2 th:text="${etablissement.getName()}"></h2></div>


        </div>
    </section><!-- End Breadcrumbs -->

    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div class="portfolio-description">
                            <h2 th:text="${etablissement.getName()}"></h2></div>
                        <p th:text="${#locale.language == 'ar' ?etablissement.getDescription() : etablissement.getDescriptionFr()}"></p>
                    </div>
                    <div class="portfolio-info">
                       <h3 th:text="#{carast}">الخصائص  </h3>  
                        <ul >
                            <li><span style="display: flex"><strong th:text="#{telep}"> رقم الهاتف
                            </strong> <span th:text="${etablissement.getPhone()}"></span>
                            </span></li>
                            <li><strong th:text="#{email}">البريد الإلكتروني </strong>: <a
                                    th:text="${etablissement.getEmail()}"></a></li>
                            <li><strong th:text="#{citeweb}">الموقع الالكتروني </strong>: <a
                                    th:href="${etablissement.getSite()}" th:text="${etablissement.getSite()}" target="_blank"></a></li>
                            <li><span style="display: flex"><strong th:text="#{fax}">الفاكس </strong>: <a
                                   th:text="${etablissement.getFax()}"></a></span></li>

                            <li><strong th:text="#{address}">العنوان </strong>: <a
                                    th:text="${etablissement.getAdresse()}"></a></li>

                        </ul >
                    </div>

                </div>
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <iframe th:src="${etablissement.getLocalisation()}"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen>

                    </iframe>


                </div>
            </div>
        </div>

    </section><!-- End Skills Section -->


</main><!-- End #main -->
<h5 class="fw-bold text-center section-success text-uppercase mt-5" th:text="#{lookher}">انظر ايضا</h5>

<div class="container-fluid py-0 wow fadeInUp " data-wow-delay="0.1s" dir="ltr">
    <div class="container py-5 mb-2">

        <div class="bg-white">
            <div class="owl-carousel owl-theme">


                <div th:if="${etablissements}" th:each="etablissement:${etablissements}"
                     class="item" style="background-color: rgba(254,254,255,0)">
                    <a th:href="@{'/etablissement/'+${etablissement.getId().toString()}}">
                        <img
                                width="50px" height="200px"
                                th:src="@{${'/etablissement/lugo/'+etablissement.getId()}}"

                                alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader"></div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>