<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="authenticated/fragments/header::header(${'title'},${'description'},${'keywords'})">
</head>


<body>

<!-- ======= Header ======= -->
<header th:replace="authenticated/fragments/navbar::header"></header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="authenticated/fragments/navside::sidebar"></aside>
<!-- End Sidebar-->


<main id="main" class="main">
    <div class="card">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <div class="p-2"><h5 class="card-title">Text Juridique list</h5></div>
                <div class="p-2">
                    <a type="button" class="btn btn-outline-dark p-2 mt-3" th:href="@{'/lois/add'}">Add Loi</a>
                </div>
            </div>

            <!-- Table with stripped rows -->
            <table class="table datatable">
                <thead>
                <tr>
                    <th>
                        <b>I</b>d
                    </th>
                    <th>
                        name
                    </th>
                    <th>Description</th>
                    <th>Path</th>

                    <th>Action</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="textJuridique : ${textJuridiques}">
                    <td><span th:text="${textJuridique.getId()}"></span></td>
                    <td><span th:text="${textJuridique.getName()}"></span></td>
                    <td><span th:text="${textJuridique.getDescription()}"></span></td>
                    <td><span th:text="${textJuridique.getPath()}"></span></td>



                    <td>
                        <div class="pt-2">
                            <a th:href="@{'/lois/'+${textJuridique.getId()}+'/userDetail'}"
                               class="btn btn-success btn-sm"
                               title="Detail">
                                <i class="bx bxs-user-detail"></i>
                            </a>
                            <a th:href="@{'/lois/userEdit/'+${textJuridique.getId()}}" class="btn btn-info btn-sm"
                               title="Update"><i class="ri-edit-2-line text-white"></i></a>

                            <a href="#" class="btn btn-danger btn-sm" title="Remove"><i class="bi bi-trash"></i></a>
                        </div>
                    </td>

                </tr>

                </tbody>
            </table>
            <!-- End Table with stripped rows -->
        </div>
    </div>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="authenticated/fragments/footer::footer" class="footer">
</footer><!-- End Footer -->

<!-- Template Main JS File -->
<div th:replace="authenticated/fragments/js::js"></div>


</body>
</html>