<!DOCTYPE html>
<html dir="rtl" th:lang="${#locale.language}">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>

    <header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
    th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>


</div>

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <ol hidden="hidden">
                <li><a href="index.html">Home</a></li>
                <li>Portfolio Details</li>
            </ol>
                <div class="d-flex align-items-center justify-content-start">
                    <a th:href="${tv.getWebsite()}" target="_blank">
                        <img th:src="@{${'/tv/lugo/'+tv.getId()}}" width="80px" height="80px" class="img-fluid mx-3" alt="">
                    </a>
                    <h2 th:text="${#locale.language == 'fr' ? tv.getNameFr() : (#locale.language == 'en' ? tv.getNameEn() : tv.getName())}" class="mb-0"></h2>
                </div>
                


        </div>
    </section><!-- End Breadcrumbs -->

    <section id="skills" class="skills">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6">
                    <div>
                        <div class="portfolio-description">
                            <h2 th:text="${#locale.language == 'fr' ? tv.getNameFr() : (#locale.language == 'en' ? tv.getNameEn() : tv.getName())}"></h2>
                        </div>
                        <p style="
                        text-align: justify;
                    " th:text="${#locale.language == 'fr' ? tv.getDescriptionFr() : (#locale.language == 'en' ? tv.getDescriptionEn() : tv.getDescription())}"></p>
                    </div>
                    
                    <div class="portfolio-info">
                        <h3 th:text="#{carast}">الخصائص  </h3>
                       
                        <ul>
                            <!-- Téléphone avec flexbox pour aligner l'étiquette et la valeur -->
                            <li>
                                <strong th:text="#{telep}+':'">رقم الهاتف</strong> <!-- Espace pour séparer -->
                                <ul>
                                    <li>
                                        <div style="display: flex; align-items: center;">
                                            <span style="direction: ltr; margin-left: 5px;"
                                                th:if="${tv.getPhone() != null && tv.getPhone() != 'غير متوفر'}"
                                                th:text="${tv.getPhone()}">
                                            </span>
                                            <span th:if="${tv.getPhone() == ' ' || tv.getPhone() == null ||tv.getPhone() == 'غير متوفر' }">
                                                <span th:text="#{phoneNotAvailable}">رقم الفاكس غير متوفر</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        
                            <!-- Email -->
                            <li>
                                <strong th:text="#{email}+':'">البريد الإلكتروني</strong> <!-- Espace pour séparer -->
                                <ul>
                                    <li>
                                        <div>
                                            <a th:href="'mailto:' + ${tv.getEmail()}"
                                                th:if="${tv.getEmail() != null && tv.getEmail() != 'غير متوفر'}"
                                                th:text="${tv.getEmail()}">
                                            </a>
                                            <span th:if="${tv.getEmail() == ' ' ||  tv.getEmail() == null || tv.getEmail() == 'غير متوفر' }">
                                                <span th:text="#{emailNotAvailable}">رقم الفاكس غير متوفر</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                            
                        
                            <!-- Site Web -->
                            <li>
                                <strong th:text="#{citeweb}+':'">الموقع الإلكتروني</strong> <!-- Espace pour séparer -->
                                <ul>
                                    <li>
                                        <div>
                                            <a th:href="${tv.getWebsite()}"
                                                th:if="${tv.getWebsite() != null && tv.getWebsite() != 'غير متوفر'}"
                                                th:text="${tv.getWebsite()}" target="_blank"></a>
                                            <span th:if="${ tv.getWebsite() == ' ' ||  tv.getWebsite() == null ||tv.getWebsite() == 'غير متوفر' }">
                                                <span th:text="#{siteNotAvailable}">رقم الفاكس غير متوفر</span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        
                            <!-- Fax avec direction LTR pour aligner les chiffres correctement -->
                            <li>
                                <strong th:text="#{fax}+':'">الفاكس</strong> <!-- Espace pour séparer -->
                                <ul>
                                    <li>
                                        <div style="display: flex; align-items: center;">
                                            <span style="direction: ltr; margin-left: 5px;">
                                                <span th:if="${tv.getFax() != null && tv.getFax() != 'غير متوفر'}"
                                                    th:text="${tv.getFax()}"></span>
                                                <span th:if="${ tv.getFax() == ' ' || tv.getFax() == null ||tv.getFax() == 'غير متوفر' }">
                                                    <span th:text="#{faxNotAvailable}">رقم الفاكس غير متوفر</span>
                                                </span>
                                            </span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        
                            <!-- Adresse avec condition sur la langue -->
                            <li>
                                <strong th:text="#{address}+':'">العنوان</strong> <!-- Espace pour séparer -->
                                <ul>
                                    <li>
                                        <div th:if="${tv.getAdresse() != null && tv.getAdresse() != 'غير متوفر'}"
                                            th:text="${#locale.language == 'fr' ? tv.getAdresseFr() : #locale.language == 'en' ? tv.getAdresseEn() :tv.getAdresse()}">
                                        </div>
                                        <div th:if="${ tv.getAdresse() == ' ' || tv.getAdresse() == null ||tv.getAdresse() == 'غير متوفر' }">
                                            <span th:text="#{adressNotAvailable}">رقم الفاكس غير متوفر</span>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        
                    </div>

<br><br>


                    <div class="portfolio-info">
                        <h3 th:text="#{carattech}+':'">الخصائص التقنية </h3>
                        <ul th:if="${caracteristique}" th:each="caracteristique : ${tv.getCaracteristiqueList()}">
    
                            <!-- Satellite -->
                            <li>
                                <span style="display: flex; align-items: center;">
                                    <strong th:text="#{satellite} + ':'">القمر الصناعي</strong>
                                    
                                    <!-- Debug: afficher la valeur exacte du satellite -->
                                    <span>Satellite actuel : </span>
                                    <span th:text="${caracteristique.getSatellite()}">Valeur non trouvée</span>
                                    
                                    <!-- Debug: afficher la langue actuelle -->
                                    <span>Langue actuelle : </span>
                                    <span th:text="${#locale.language}">Langue non trouvée</span>
                                </span>
                            </li>
                            
                            
                            
                            
                            <!-- Fréquence avec direction LTR pour les chiffres -->
                            <li>
                                <span style="display: flex; align-items: center;">
                                    <strong th:text="#{frequence}+':'">التردد</strong> <!-- Espace pour séparer -->
                                    <span style="direction: ltr;" th:text="${caracteristique.getFrequency()}"></span>
                                </span>
                            </li>
                        
                            <!-- Symbolrate avec direction LTR pour les chiffres -->
                            <li>
                                <span style="display: flex; align-items: center;">
                                    <strong th:text="#{modulation}+':'">معامل الترميز</strong> <!-- Espace pour séparer -->
                                    <span style="direction: ltr;" th:text="${caracteristique.getSymbolrate()}"></span>
                                </span>
                            </li>
                        
                            <!-- Polarization -->
                            <li>
                                <span style="display: flex; align-items: center;">
                                    <strong  th:text="#{polarization}+':'">الاستقاب</strong> <!-- Espace pour séparer -->
                                    <span th:text="${caracteristique.getPolarization()}"></span>
                                </span>
                            </li>
                        
                            <!-- FEC avec direction LTR pour les chiffres -->
                            <li>
                                <span style="display: flex; align-items: center;">
                                    <strong th:text="#{fec }+':'">معامل التصحيح</strong> <!-- Espace pour séparer -->
                                    <span style="direction: ltr;" th:text="${caracteristique.getFec()}"></span>
                                </span>
                            </li>
                        
                            <!-- Ligne horizontale pour la séparation des caractéristiques -->
                            <hr />
                        </ul>
                        
                    </div>

                </div>
                <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">
                    <iframe th:src="${tv.getStreaminglink()}"
                            frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen>

                    </iframe>
                </div>
            </div>
        </div>

        </div>
    </section><!-- End Skills Section -->


</main><!-- End #main -->
<h5 class="fw-bold text-center section-success text-uppercase mt-5" th:text="#{lookher}">انظر ايضا</h5>

<div class="container-fluid py-0 wow fadeInUp " data-wow-delay="0.1s" dir="ltr">
    <div class="container py-5 mb-2">

        <div class="bg-white">
            <div class="owl-carousel owl-theme">


                <div th:if="${tv}" th:each="tv:${tvs}"
                     class="item" style="background-color: rgba(254,254,255,0)">
                    <a  th:href="@{'/tv/'+${tv.getId().toString()}}">
                        <img
                                width="50px" height="200px"
                                th:src="@{${'/tv/lugo/'+tv.getId()}}"

                                alt="">
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>


<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader" class="waitting">
    <svg th:include="notAuthenticated/fragments/logosvg::logosvg" width="120" height="120" viewBox="0 0 2342 2004" version="1.1" class="inSide">
    </svg>  
</div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>