<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="authenticated/fragments/header::header(${'title'},${'description'},${'keywords'})">
</head>


<body>

<!-- ======= Header ======= -->
<header th:replace="authenticated/fragments/navbar::header"></header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="authenticated/fragments/navside::sidebar"></aside>
<!-- End Sidebar-->


<main id="main" class="main">
    <div class="card">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <div class="p-2"><h5 class="card-title">User Add</h5></div>
            </div>

            <form id="profileForm" th:action="@{/ministers/save}" method="post" enctype="multipart/form-data">

                <div class="row mb-3">
                    <label class="col-md-4 col-lg-3 col-form-label">Profile Image</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="file" class="img-thumbnail" id="profilePicture" name="profilePicture"  accept="image/*" >
                    </div>
                </div>

                <div class="row mb-3 ">
                    <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First
                        Name</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="firstName" type="text" class="form-control"
                               id="firstName" placeholder="First name" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="lastname" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name" required >

                    </div>
                </div>


                <div class="row mb-3">
                    <label for="Address" class="col-md-4 col-lg-3 col-form-label">Address
                        (Office)</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="address" type="text" class="form-control" id="address"
                               placeholder="Address (Office)" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="startFrom" class="col-md-4 col-lg-3 col-form-label">Start From :</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="startFrom" type="date" class="form-control" id="startFrom" required >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="until" class="col-md-4 col-lg-3 col-form-label">End Date :</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="until" type="date" class="form-control" id="until" >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Profile Files</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="file" class="form-control-file" id="profilFiles"
                               name="profilFiles" multiple>
                    </div>
                </div>
                <!--onclick="submitForm('direction','departement','service')"-->
                <div class="text-center">
                    <button type="submit"
                            class="btn btn-primary">Save
                    </button>
                </div>
            </form><!-- End Profile Edit Form -->

        </div>
    </div>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="authenticated/fragments/footer::footer" class="footer">
</footer><!-- End Footer -->

<!-- Template Main JS File -->
<div th:replace="authenticated/fragments/js::js"></div>


</body>
</html>