<!DOCTYPE html>
<html dir="rtl" th:lang="${#locale.language}">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>


<header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
        th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>

        <div style="    margin-top: 20px;
        padding: 8px;
        width: 45%;
    ">
             <div class="form-inline d-flex justify-content-center ">
                <input class="form-control mr-sm-2 w-100"  id="query" name="query" required type="search" th:placeholder="#{search}" aria-label="بحث ">
                <button class="btn btn-outline-success my-2 my-sm-0 mx-2 " type="submit" id="querysearch"><i
                        class="ri-search-2-line"></i></button>
            </div>
         </div>
<main id="main">

    <div style="height: 70px"
    ></div>


   

    <section  th:if="pressesElectroniquePrive" id="publicElectronique" class="breadcrumbs m-0">
        <div class="container">

            <h2 th:text="#{pressElect} +' '+#{prive}"> الصحافة الاكترونية الخاصة </h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">

            <div  class="row">

                <!-- <div th:if="pressesElectroniquePrive" th:each="presseElectroniquePrive:${pressesElectroniquePrive}"
                     class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}" class="post-thumbnail"><img
                                th:src="@{${'/presse/lugo/'+presseElectroniquePrive.getId()}}"
                                style="height: 100px ; width: 100px" alt="Image"
                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px"><a
                                    th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                    th:text="${presseElectroniquePrive.getName()}"></a></h3>

                            <div class="meta">
                                <p><a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                      th:text="${presseElectroniquePrive.getDescription()}"></a></p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <!-- <div th:if="pressesElectroniquePrive" th:each="presseElectroniquePrive:${pressesElectroniquePrive}"
                     class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}" class="post-thumbnail"><img
                                th:src="@{${'/presse/lugo/'+presseElectroniquePrive.getId()}}"
                                style="height: 100px ; width: 100px" alt="Image"
                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px"><a
                                    th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                    th:text="${presseElectroniquePrive.getNameFr()}"></a></h3>

                            <div class="meta">
                                <p style="overflow: hidden; height: 85px;"><a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                      th:text="${presseElectroniquePrive.getDescription().toString().substring(0,(presseElectroniquePrive.getDescription().length() &lt; 100 ? presseElectroniquePrive.getDescription().length() : 100 ))+'...'}"></a></p>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div th:if="${pressesElectroniquePrive.isEmpty()}">
                    <h3>
                        <i style="color:red;" class="bi bi-x-lg"></i>
                        <span th:text="#{no_results}">لا توجد نتائج</span>

                    </h3>
                </div>
                
                <div th:if="${! pressesElectroniquePrive.isEmpty()}" th:each="presseElectroniquePrive : ${pressesElectroniquePrive}" class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}" class="post-thumbnail">
                            <img th:src="@{'/presse/lugo/'+${presseElectroniquePrive.getId()}}" style="height: 100px; width: 100px" alt="Image" class="img-fluid">
                        </a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px">
                                <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"
                                   th:text="${#locale.language == 'fr' ? presseElectroniquePrive.getNameFr() 
                                            : (#locale.language == 'en' ? presseElectroniquePrive.getNameEn() 
                                            : presseElectroniquePrive.getName())}">
                                </a>
                            </h3>
                            <div class="meta">
                                <p style="overflow: hidden; height: 85px;">
                                    <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"
                                       th:text="${#locale.language == 'fr' ? presseElectroniquePrive.getDescriptionFr().substring(0, presseElectroniquePrive.getDescriptionFr().length() < 100 ? presseElectroniquePrive.getDescriptionFr().length() : 100) + '...' 
                                                : (#locale.language == 'en' ? presseElectroniquePrive.getDescriptionEn().substring(0, presseElectroniquePrive.getDescriptionEn().length() < 100 ? presseElectroniquePrive.getDescriptionEn().length() : 100) + '...' 
                                                : presseElectroniquePrive.getDescription().substring(0, presseElectroniquePrive.getDescription().length() < 100 ? presseElectroniquePrive.getDescription().length() : 100) + '...')}">
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                
                

                

            </div>
        </div>

    </div>

 <!-- ======= Breadcrumbs ======= -->
 <section th:if="pressesElectroniquePublic" id="publicEcrit" class="breadcrumbs m-0">
    <div class="container">

        <h2 th:text="#{pressElect}"> الصحافة الالكترونية </h2>

    </div>
</section><!-- End Breadcrumbs -->

<!-- ======= Portfolio Details Section ======= -->
<!-- Start Blog Section -->
<div class="blog-section">
    <div class="container">

        <div class="row">

            <!-- <div th:if="pressesElectroniquePublic" th:each="presseElectroniquePublic:${pressesElectroniquePublic}"
                     class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                           class="post-thumbnail"><img
                                th:src="@{${'/presse/lugo/'+presseElectroniquePublic.getId()}}"
                                style="height: 100px ; width: 100px" alt="Image"
                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px">
                                <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                                   th:text="${#locale.language == 'fr' ? presseElectroniquePublic.getNameFr() 
                                            : (#locale.language == 'en' ? presseElectroniquePublic.getNameEn() 
                                            : presseElectroniquePublic.getName())}"></a>
                            </h3>
                        
                            <div class="meta">
                                <p>
                                    <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                                       th:text="${#locale.language == 'fr' ? presseElectroniquePublic.getDescriptionFr() 
                                                : (#locale.language == 'en' ? presseElectroniquePublic.getDescriptionEn() 
                                                : presseElectroniquePublic.getDescription())}">Kristin Watson</a>
                                </p>
                            </div>
                        </div>
                        
                        
                    </div>
                </div> -->
            <!-- <div th:if="pressesElectroniquePublic" th:each="presseElectroniquePublic:${pressesElectroniquePublic}"
                     class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                           class="post-thumbnail"><img
                                th:src="@{${'/presse/lugo/'+presseElectroniquePublic.getId()}}"
                                style="height: 100px ; width: 100px" alt="Image"
                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px"><a
                                    th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                                    th:text="${presseElectroniquePublic.getNameFr()}"></a></h3>

                            <div class="meta">
                                <p><a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}"
                                      th:text="${presseElectroniquePublic.getDescriptionFr()}">Kristin Watson</a></p>
                            </div>
                        </div>
                        
                        
                        
                    </div>
                </div> -->

            <!-- Affichage d'un message si la liste des presses électroniques publiques est vide -->
            <div th:if="${pressesElectroniquePublic.isEmpty()}">
                <h3>
                    <i style="color:red;" class="bi bi-x-lg"></i>
                    <span th:text="#{no_results}">لا توجد نتائج</span>
                </h3>
            </div>

            <!-- Affichage des presses électroniques publiques si la liste n'est pas vide -->
            <div th:if="${not pressesElectroniquePublic.isEmpty()}"
                th:each="presseElectroniquePublic : ${pressesElectroniquePublic}" class="col-6 col-sm-3 col-md-3 mb-5">
                <div class="post-entry">
                    <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}" class="post-thumbnail">
                        <img th:src="@{'/presse/lugo/'+${presseElectroniquePublic.getId()}}"
                            style="height: 100px ; width: 100px" alt="Image" class="img-fluid">
                    </a>

                    <div class="post-content-entry">
                        <h3 style="font-size: 20px">
                            <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}" th:text="${#locale.language == 'fr' ? presseElectroniquePublic.getNameFr() 
                            : (#locale.language == 'en' ? presseElectroniquePublic.getNameEn() 
                            : presseElectroniquePublic.getName())}">
                            </a>
                        </h3>

                        <div class="meta">
                            <p>
                                <a th:href="@{'/presse/'+${presseElectroniquePublic.getId().toString()}}" th:text="${#locale.language == 'fr' ? presseElectroniquePublic.getDescriptionFr() 
                                : (#locale.language == 'en' ? presseElectroniquePublic.getDescriptionEn() 
                                : presseElectroniquePublic.getDescription())}">
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <!-- ======= Breadcrumbs ======= -->




        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <!-- Start Blog Section -->
    <div class="blog-section">
        <div class="container">

            <div hidden="hidden" class="row">

                <div th:if="pressesElectroniquePrive" th:each="presseElectroniquePrive:${pressesElectroniquePrive}"
                     class="col-6 col-sm-3 col-md-3 mb-5">
                    <div class="post-entry">
                        <a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}" class="post-thumbnail"><img
                                th:src="@{${'/presse/lugo/'+presseElectroniquePrive.getId()}}"
                                style="height: 100px ; width: 100px" alt="Image"
                                class="img-fluid"></a>
                        <div class="post-content-entry">
                            <h3 style="font-size: 20px"><a
                                    th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                    th:text="${presseElectroniquePrive.getName()}"></a></h3>

                            <div class="meta">
                                <p style="
                                overflow: hidden;
                                height: 85px;
                            "><a th:href="@{'/presse/'+${presseElectroniquePrive.getId().toString()}}"

                                      th:text="${presseElectroniquePrive.getDescription()}"></a></p>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

    </div>

</div> <!-- ======= Breadcrumbs ======= -->

</main><!-- End #main -->


<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader" class="waitting">
    <svg th:include="notAuthenticated/fragments/logosvg::logosvg" width="120" height="120" viewBox="0 0 2342 2004" version="1.1" class="inSide">
    </svg>  
</div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>