<!DOCTYPE html>
<html dir="rtl" th:lang="${#locale.language}">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>


<!-- Add image before the header -->
<header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
        th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>



</div>


<main id="main">

    <section id="faq" class="faq ">
        <div class="container" data-aos="fade-up">

            <!-- <div class="section-title">
                <h2 th:text="${lois.getName()}"></h2>
                <p th:text="${lois.getDescription()}"></p>
            </div> -->
            <div class="section-title">
                <h2 th:if="${#locale.language == 'fr'}" th:text="${lois.getNameFr()}"></h2>
                <h2 th:if="${#locale.language == 'en'}" th:text="${lois.getNameEn()}"></h2>
                <h2 th:if="${#locale.language == 'ar'}" th:text="${lois.getName()}"></h2>
            
                <p th:if="${#locale.language == 'fr'}" th:text="${lois.getDescriptionFr()}"></p>
                <p th:if="${#locale.language == 'en'}" th:text="${lois.getDescriptionEn()}"></p>
                <p th:if="${#locale.language == 'ar'}" th:text="${lois.getDescription()}"></p>
            </div>
            
            <br>
            <!-- <div class="faq-list">
                <ul>
                    <li th:if="${lois.getTextJuridiqueList()}" th:each="textJuridique:${lois.getTextJuridiqueList()}"
                        data-aos="fade-up"
                        th:attr="data-aos-delay=${100*lois.getId()}"

                       >
                        <i class=""></i>
                        <a data-bs-toggle="collapse" class="collapse show"
                           th:attr="data-bs-target='#faq-list-' + ${textJuridique.getId()}"
                           th:text="${textJuridique.getName()}"
                        > المعاهدات والاتفاقيات الدولية <i
                                class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>

                        <div th:id="${'faq-list-'+textJuridique.getId()}" class="collapse "
                             data-bs-parent=".faq-list">
                            <p th:text="${textJuridique.getDescription()}">

                            </p>
                            <a th:if="${!textJuridique.getMultimediaList().isEmpty()}" th:href="${'/textJuridique/pdf/'+textJuridique.getId()}"
                               target="_blank"
                            > اطلع على النص</a>

                        </div>
                    </li>


                </ul>
            </div> -->

            <div class="faq-list">
                <ul>
                    <li th:if="${lois.getTextJuridiqueList()}" th:each="textJuridique : ${lois.getTextJuridiqueList()}"
                        data-aos="fade-up" th:attr="data-aos-delay=${100 * lois.getId()}">
                        <i class=""></i>
            
                        <!-- Titre en fonction de la langue sélectionnée -->
                        <a data-bs-toggle="collapse" class="collapse show"
                           th:attr="data-bs-target='#faq-list-' + ${textJuridique.getId()}">
                            
                            <span th:if="${#locale.language == 'fr'}" th:text="${textJuridique.getNameFr()}"></span>
                            <span th:if="${#locale.language == 'en'}" th:text="${textJuridique.getNameEn()}"></span>
                            <span th:if="${#locale.language == 'ar'}" th:text="${textJuridique.getName()}"></span>
            
                            <i class="bx bx-chevron-down icon-show"></i>
                            <i class="bx bx-chevron-up icon-close"></i>
                        </a>
            
                        <!-- Contenu en fonction de la langue sélectionnée -->
                        <div th:id="${'faq-list-' + textJuridique.getId()}" class="collapse " data-bs-parent=".faq-list">
                            <p th:if="${#locale.language == 'fr'}" th:text="${textJuridique.getDescriptionFr()}"></p>
                            <p th:if="${#locale.language == 'en'}" th:text="${textJuridique.getDescriptionEn()}"></p>
                            <p th:if="${#locale.language == 'ar'}" th:text="${textJuridique.getDescription()}"></p>
            
                            <!-- Lien vers le fichier PDF selon la langue -->
                            <a th:if="${!textJuridique.getMultimediaList().isEmpty()}"
                                th:href="@{/textJuridique/pdf/{id}/{lang}(id=${textJuridique.id}, lang=${#locale.language == 'fr' ? 'fr' : (#locale.language == 'en' ? 'fr' : 'ar')})}"
                                target="_blank">
                                <span th:if="${#locale.language == 'fr'}">Voir le texte</span>
                                <span th:if="${#locale.language == 'en'}">View the text</span>
                                <span th:if="${#locale.language == 'ar'}">اطلع على النص</span>
                            </a>



                            <!-- Lien vers le fichier PDF -->
                <!-- <a th:if="${!textJuridique.getMultimediaList().isEmpty()}"
                th:href="${'/textJuridique/pdf/' + textJuridique.getId()}" target="_blank"> 
                <span th:if="${#locale.language == 'fr'}">Voir le texte</span>
                <span th:if="${#locale.language == 'en'}">View the text</span>
                <span th:if="${#locale.language == 'ar'}">اطلع على النص</span>
             </a> -->
                        </div>
                    </li>
                </ul>
            </div>
            
            
        </div>
    </section><!-- End Frequently Asked Questions Section -->
    <section id="clients" class="clients ">
        <div class="container">

            <div class="row" data-aos="zoom-in">


            </div>

        </div>
    </section><!-- End Cliens Section -->

</main><!-- End #main -->


<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader" class="waitting">
    <svg th:include="notAuthenticated/fragments/logosvg::logosvg" width="120" height="120" viewBox="0 0 2342 2004" version="1.1" class="inSide">
    </svg>  
</div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>