
<footer  th:fragment="footer" id="footer" >


    <div class="footer-top " style="background-color: #f3f5fa">
        <div class="container " >
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <!-- Titre de la section -->
                    <h3 th:text="#{porteilgetway}">بوابة الاعلام الجزائري</h3>
                
                    <p>
                        <!-- Adresse avec direction LTR pour les parties numériques -->
                        <span style="display: block;">
                            <strong th:text="#{address } + ' : '">العنوان:</strong><br> <!-- Nouvelle ligne pour plus de lisibilité -->
                            <strong th:text="#{adress}"style="direction: ltr;">
                            </strong>
                        </span>
                
                        <!-- Téléphone avec direction LTR pour le numéro -->
                        <span style="display: flex; align-items: center;">
                            <strong th:text="#{telep} + ' : '">الهاتف:</strong>&nbsp; <!-- Espace insécable -->
                            <strong style="direction: ltr;">+213(0)21-54-10-10</strong>
                        </span><br>
                
                        <!-- Fax avec direction LTR pour le numéro -->
                        <span style="display: flex; align-items: center;">
                            <strong th:text="#{fax} + ' : '">الفاكس:</strong>&nbsp; <!-- Espace insécable -->
                            <strong style="direction: ltr;">+213(0)21-54-12-08</strong>
                        </span><br>
                
                        <!-- Email -->
                        <strong th:text="#{email} + ' : '">البريد الالكتروني:</strong> 
                        <a href="mailto:contact@ministerecommunication.gov.dz">contact@ministerecommunication.gov.dz</a><br>
                    </p>
                </div>
                
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 th:text="#{quicklink}">روابط سريعة</h4>
                    <ul>
                        <!-- Gestion de la direction pour le chevron -->
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/#" th:text="#{principal}">الرئسية</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/#Soustutelle" th:text="#{etablissement}">المؤسسات الإعلامية</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/#Reglementationsectorielle" th:text="#{organigrame}">تنظيم القطاع</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/tv/public" th:text="#{channel} + ' ' + #{public}">القنوات التلفزيونية العمومية</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/radio/public" th:text="#{radio}">القنوات التلفزيونية الخاصة</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/presse/public" th:text="#{pressEcrit}">القنوات التلفزيونية الخاصة</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="/presse/public/electronique" th:text="#{pressElect}">القنوات التلفزيونية الخاصة</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="#" th:text="#{textju}">النصوص القانونية</a>
                        </li>
                    </ul>
                </div>
                
                

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 th:text="#{linkimport}">روابط مهمة</h4>
                    <ul>
                        <!-- Gestion de la direction pour le chevron -->
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="http://www.el-mouradia.dz" th:text="#{Presendc}">الاذاعات المحلية</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="http://www.majliselouma.dz" th:text="#{majles}">الاذاعات الخاصة</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="https://www.joradp.dz/" th:text="#{sgg} ">الصحافة المكتوبة العمومية</a>
                        </li>
                        <li>
                            <i th:class="${#locale.language == 'ar'} ? 'bx bx-chevron-left' : 'bx bx-chevron-right'" style="color: #0E2F4A"></i>
                            <a href="https://www.ministerecommunication.gov.dz/fr" th:text="#{mnc}">الصحافة المكتوبة الخاصة</a>
                        </li>
                    </ul>
                </div>
                
                <div class="col-lg-3 col-md-6 footer-links">
                    <h4 th:text="#{socialMedia}">شبكاتنا الاجتماعية</h4>
                    <p th:text="#{textsocial}">يمكنكم متابعاتنا على مواقع التواصل الاجتماعي عبر الروابط الاتية</p>
                    <div class="social-links mt-3">
                        <a href="https://www.facebook.com/ministerecomdz/" class="facebook" style="background-color: #0E2F4A" target="_blank"><i class="bx bxl-facebook"></i></a>
                        <!-- <a href="#" class="" style="background-color: #0E2F4A" target="_blank"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="instagram" style="background-color: #0E2F4A" target="_blank"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus" style="background-color: #0E2F4A" target="_blank"><i class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin" style="background-color: #0E2F4A" target="_blank"><i class="bx bxl-linkedin"></i></a> -->
                    </div>
                </div>
                

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            <span>
                &copy; <strong th:text="#{siteName}"> بوابة الاعلام الجزائري</strong>
                <span th:text="#{copyright}">جميع الحقوق محفوظة 2024</span>
            </span>
        </div>
        <div class="credits" hidden="hidden">
            Designed by <a href=""></a>
        </div>
    </div>
    <script th:src="@{/notAuthenticated/assets/js/search.js}"></script>
</footer><!-- End Footer -->