
<footer  th:fragment="footer" id="footer" style="background-color: #0E2F4A">

    <div class="footer-top " style="background-color: #f3f5fa">
        <div class="container ">
            <div class="row">

                <div class="col-lg-3 col-md-6 footer-contact">
                    <h3>بوابة الاعلام الجزائري </h3>
                    <p>
                        03, شارع الإخوة بوعدو <br>
                        بئر مراد رايس <br>
                        الجزائر العاصمة <br><br>
                        <span style="display: flex"> <strong>الهاتف:</strong> <strong style="direction: ltr">+213(0)21-54-10-10</strong></span><br>
                        <span style="display: flex"><strong>الفاكس:</strong><strong style="direction: ltr">+213(0)21-54-12-08</strong> </span><br>
                        <strong>البريد الالكتروني:</strong> contact@ministerecommunication.gov.dz<br>
                    </p>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>روابط سريعة</h4>
                    <ul>


                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i><a href="#">الرئسية</a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i><a href="#">تحت الوصاية </a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i><a href="#">تنظيم القطاع</a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">القنوات التلفزيونية
                            العمومية </a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">القنوات التلفزيونية
                            الخاصة</a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">النصوص القانونية </a>
                        </li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>روابط مهمة</h4>
                    <ul>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">الاذاعات المحلية </a>
                        </li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">الاذاعات الخاصة </a>
                        </li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">الصحافة المكتوبة
                            العمومية </a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i><a href="#">الصحافة المكتوبة
                            الخاصة</a></li>
                        <li><i class="bx bx-chevron-left" style="color: #0E2F4A"></i> <a href="#">الصحافة
                            الالكترونية </a></li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 footer-links">
                    <h4>شبكاتنا الاجتماعية</h4>
                    <p> يمكنكم متابعاتنا على مواقع التواصل الاجتماعي عبر الروابط الاتية </p>
                    <div class="social-links mt-3">
                        <a href="#" class="" style="background-color: #0E2F4A"><i class="bi bi-twitter-x"></i></a>
                        <a href="#" class="facebook" style="background-color: #0E2F4A"><i
                                class="bx bxl-facebook"></i></a>
                        <a href="#" class="instagram" style="background-color: #0E2F4A"><i class="bx bxl-instagram"></i></a>
                        <a href="#" class="google-plus" style="background-color: #0E2F4A"><i
                                class="bx bxl-skype"></i></a>
                        <a href="#" class="linkedin" style="background-color: #0E2F4A"><i
                                class="bx bxl-linkedin"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container footer-bottom clearfix">
        <div class="copyright">
            <strong><span> &copy; بوابة الاعلام الجزائري  </span></strong> جميع الحقوق محفوظة 2024 .
        </div>
        <div class="credits" hidden="hidden">
            Designed by <a href=""></a>
        </div>
    </div>
</footer><!-- End Footer -->