<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="authenticated/fragments/header::header(${'title'},${'description'},${'keywords'})">
</head>


<body>

<!-- ======= Header ======= -->
<header th:replace="authenticated/fragments/navbar::header"></header>
<!-- End Header -->

<!-- ======= Sidebar ======= -->
<aside th:replace="authenticated/fragments/navside::sidebar"></aside>
<!-- End Sidebar-->


<main id="main" class="main">
    <div class="card">
        <div class="card-body">

            <div class="d-flex justify-content-between">
                <div class="p-2"><h5 class="card-title">Etablissement Add</h5></div>
            </div>

            <form id="profileForm" th:action="@{/etablissement/save}" method="post" enctype="multipart/form-data">


                <div class="row mb-3 ">
                    <label for="name" class="col-md-4 col-lg-3 col-form-label">Name</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="name" type="text" class="form-control"
                               id="name" placeholder="name" required>
                    </div>
                </div>

                <div class="row mb-3 ">
                    <label for="nameFr" class="col-md-4 col-lg-3 col-form-label">Name Latin</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="nameFr" type="text" class="form-control"
                               id="nameFr" placeholder="nameFr" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="typepp" class="col-md-4 col-lg-3 col-form-label">Type etablissemet</label>
                    <div class="col-md-8 col-lg-9">
                        <select id="typepp" name="typepp" class="form-control" onchange="">
                            <option value="" disabled>Select type</option>
                            <option value="public">Public</option>
                            <option value="prive">Prive</option>
                        </select>
                    </div>
                </div>



                <div class="row mb-3">
                    <label for="type" class="col-md-4 col-lg-3 col-form-label">Etablissement Type</label>
                    <div class="col-md-8 col-lg-9">
                        <select id="type" name="type" class="form-control" onchange="">
                            <option value="" disabled>Select Option</option>
                            <option value="soustutelle" >Sous tutelle</option>
                            <option value="reglementationsectorielle" >Réglementation sectorielle</option>
                        </select>
                    </div>
                </div>





                <div class="row mb-3">
                    <label for="description" class="col-md-4 col-lg-3 col-form-label">Description</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="description" type="text" class="form-control" id="description"
                               placeholder="description" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="description" class="col-md-4 col-lg-3 col-form-label">Description French</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="descriptionFr" type="text" class="form-control" id="descriptionFr"
                               placeholder="descriptionFr" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="description" class="col-md-4 col-lg-3 col-form-label">Description English</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="descriptionEn" type="text" class="form-control" id="descriptionEn"
                               placeholder="descriptionEn" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="adresse" class="col-md-4 col-lg-3 col-form-label">adresse</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="adresse" type="text" class="form-control" id="adresse"
                               placeholder="adresse" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">phone</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" id="phone"
                               placeholder="phone" required >
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="email" class="col-md-4 col-lg-3 col-form-label">email</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="email" type="text" class="form-control" id="email"
                               placeholder="email">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="site" class="col-md-4 col-lg-3 col-form-label">site</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="site" type="text" class="form-control" id="site"
                               placeholder="site" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="fax" class="col-md-4 col-lg-3 col-form-label">fax</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="fax" type="text" class="form-control" id="fax"
                               placeholder="fax" required >
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="localisation" class="col-md-4 col-lg-3 col-form-label">localisation</label>
                    <div class="col-md-8 col-lg-9">
                        <input name="localisation" type="text" class="form-control" id="localisation"
                               placeholder="localisation" required>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="etablissementFiles" class="col-md-4 col-lg-3 col-form-label">Profile Files</label>
                    <div class="col-md-8 col-lg-9">
                        <input type="file" class="form-control-file" id="etablissementFiles"
                               name="etablissementFiles"  accept="image/*">
                    </div>
                </div>
                <!--onclick="submitForm('direction','departement','service')"-->
                <div class="text-center">
                    <button type="submit"
                            class="btn btn-primary">Save
                    </button>
                </div>
            </form><!-- End Profile Edit Form -->

        </div>
    </div>
</main><!-- End #main -->


<!-- ======= Footer ======= -->
<footer th:replace="authenticated/fragments/footer::footer" class="footer">
</footer><!-- End Footer -->

<!-- Template Main JS File -->
<div th:replace="authenticated/fragments/js::js"></div>


</body>
</html>