<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head th:replace="notAuthenticated/fragments/head::head(${'title'},${'description'},${'keywords'})">
</head>
<body>
    <header th:include="notAuthenticated/fragments/header::header" style="background-color: #0E2F4A"
    th:with="myObject=${complexesForNavBar},myObjectlFNBar=${loisForNavBar}"></header>
<main id="main">

<div style="height: 70px"
></div>

    <img hidden="hidden" th:src="@{'/tv/lugoz/1'}"


         height="100px" width="100px"
         class="rounded-circle">

    <!-- ======= Breadcrumbs ======= -->
    <!-- ======= Breadcrumbs ======= -->
    <section id="national" class="breadcrumbs m-0" >
        <div class="container">

            <h2 >  قائمة الوزارء إتصال</h2>

        </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">
            <div class="product-section pt-0">
                <div class="container">
                    <div class="row">


                        <!-- Start Column 2 -->
                          <!-- Boucle pour afficher chaque ministre -->
                          <div th:each="minister : ${Mins}" class="col-12 col-md-4 col-lg-3 mb-5 mb-md-0">
                            <a class="product-item" href="">
                                <img th:src="@{${'/ministers/pic/'+minister.Id}}"
                                     style="height: 150px;width: 150px"
                                     class="img-fluid product-thumbnail">
                                     <!--h3 class="product-title" style="font-size: 20px" th:text="${minister.firstName}">اسم الوزير </h3>


                                     <h3 class="product-title" style="font-size: 20px" th:text="${minister.lastName}">لقب الوزير </h3-->
                                     <h3 class="product-title" style="font-size: 20px" th:text="${minister.firstName} + ' ' + ${minister.lastName}"></h3>

                                     <h5 class="product-price" style="font-size: 15px" th:text="'منذ : ' + ${minister.startFrom}"></h5>

                                     <h5 class="product-price" style="font-size: 15px" th:text="${minister.until != null} ? 'إلى غاية : ' + ${minister.until} : 'الى يومنا هذا'"></h5>
                                      <span class="icon-cross">
                                    <img th:src="@{/notAuthenticated/assets/img/Frame 5.png}" class="img-fluid">
                                </span>

                            </a>
                        </div>
                    </div>
                        <!-- End Column 2 -->


                    </div>
                </div>
            </div>
            <!-- End Product Section -->

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->


<footer th:replace="notAuthenticated/fragments/footer::footer" class="footer">
</footer>

<div id="preloader"></div>

<div th:replace="notAuthenticated/fragments/js::js"></div>

</body>

</html>